.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

body {
  font-size: 15px;
  font-family: 'segoeui'; }

body, form, ul {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

article, footer {
  display: block; }

a {
  text-decoration: none;
  outline: none; }

img {
  border: none;
  max-width: 100%; }

input, textarea, select, button {
  border-radius: 0;
  outline: none; }

.clear {
  clear: both; }

a:hover, a:focus {
  text-decoration: none; }

:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper {
  margin: 0 auto -220px;
  min-height: 100%; }

#footer, .push {
  min-height: 220px; }

/*******************all-file-scss-page***********************/
/* In type partial */
@font-face {
  font-family: 'LibreBaskervilleItalic';
  src: url("../font/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'LibreBaskervilleRegular';
  src: url("../font/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'LibreBaskervilleBold';
  src: url("../font/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "AbrilFatface";
  src: url("../font/AbrilFatface-Regular.otf") format("opentype"); }
@font-face {
  font-family: "Montserrat-Light";
  src: url("../font/Montserrat-Light.ttf") format("truetype"); }
body,
button, input, optgroup, select, textarea,
.carousel-caption {
  color: #433b31;
  font-family: "Montserrat-Light";
  font-size: 14px; }

.ftabril {
  font-family: "AbrilFatface"; }

.ft48 {
  font-size: 48px; }

h1, h2, h3, h4, h5, h6 {
  /*color: #281f13;*/ }

a {
  color: #281f13; }

a:hover {
  opacity: 0.7; }

.abox:hover {
  color: #fff;
  opacity: 0.8; }

.marbt20 {
  margin-bottom: 20px; }

@media (min-width: 1300px) {
  .container {
    width: 1268px;
    max-width: 100%; } }
.abox {
  background: #7a634e none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-family: "AbrilFatface";
  font-size: 20px;
  max-width: 85px;
  padding: 15px 15px 15px 10px; }

header {
  padding-bottom: 30px;
  padding-top: 20px; }
  header .navbar {
    background: none;
    display: inline-block;
    padding-left: 100px; }
    header .navbar .navbar-toggler {
      border: none; }
    header .navbar #navbarCollapse {
      position: absolute;
      z-index: 999;
      background: #fff;
      width: 100%;
      min-width: 200px;
      padding: 15px; }
      header .navbar #navbarCollapse a {
        color: #281f13; }
  header .dr-language {
    display: inline-block; }
    header .dr-language #dropdownMenuButton {
      color: #968575;
      font-family: "AbrilFatface";
      font-size: 24px;
      padding: 0 0 0 20px;
      vertical-align: bottom; }
      header .dr-language #dropdownMenuButton span {
        border-bottom: 1px solid #968575;
        padding: 0 5px; }
    header .dr-language .dropdown-toggle {
      border: none; }
      header .dr-language .dropdown-toggle:after {
        display: none; }
      header .dr-language .dropdown-toggle:hover {
        background: none; }
    header .dr-language .dropdown-menu {
      border: none; }
  header .logo {
    display: inline-block;
    width: calc(100% - 300px); }

/*global*/
.hidden-sm,
.hidden-md {
  display: none; }

.marbt30 {
  margin-bottom: 30px; }

/*strat carousel*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-indicators li {
  background-color: #898580;
  border-radius: 50%;
  height: 8px;
  max-width: 8px; }
.carousel-indicators .active {
  background-color: #281f13; }

.carousel-item img {
  border-radius: 30px 30px 0 0; }

.carousel-indicators {
  bottom: 20px;
  left: auto;
  margin: 0;
  right: 0;
  width: 300px; }

.carousel-caption {
  left: 60px;
  bottom: -20px; }
  .carousel-caption h3 {
    color: #281f13;
    font-size: 72px;
    margin-bottom: 25px; }
  .carousel-caption .abox {
    padding: 13px; }
  .carousel-caption p {
    margin-bottom: 25px; }

#about {
  padding-bottom: 150px;
  position: relative; }
  #about:after {
    background: rgba(0, 0, 0, 0) url("../images/bg1.png") repeat-x scroll 0 230px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
  #about .ftabril {
    color: #281e14;
    font-size: 72px;
    padding-bottom: 40px;
    padding-top: 100px; }

/*section-content*/
.section-content .hd-title {
  background: rgba(0, 0, 0, 0) url("../images/bg1.png") repeat-x scroll 0 0;
  margin-bottom: 80px;
  margin-top: 15px;
  padding: 60px 0 75px; }
  .section-content .hd-title h3 {
    font-size: 48px;
    margin-bottom: 25px; }
.section-content .box-elem {
  background: #281f13 none repeat scroll 0 0;
  border-radius: 0 0 0 30px;
  color: #7a634e;
  height: 100%;
  padding: 60px 40px; }
  .section-content .box-elem div.text-center {
    position: relative;
    height: 85px;
    margin: 30px 0; }
    .section-content .box-elem div.text-center img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .section-content .box-elem a.text-center {
    display: block; }
  .section-content .box-elem > p {
    margin-bottom: 30px;
    color: #CBC1BF; }

/*element-full*/
.element-full .box-element {
  overflow: hidden;
  padding: 0; }
  .element-full .box-element .box-hover {
    height: 100%;
    width: 100%;
    padding: 14% 0;
    position: absolute;
    top: -200%;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    background: url("../images/opacity.png") no-repeat;
    background-size: cover;
    text-align: center; }
    .element-full .box-element .box-hover .box-hover-ct {
      padding: 15px 0 25px; }
    .element-full .box-element .box-hover h3 {
      font-size: 48px; }
  .element-full .box-element:hover .box-hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0; }
  .element-full .box-element:hover .box-bottom {
    bottom: -100px; }
  .element-full .box-element .box-bottom {
    bottom: 30px;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-transition: all 10ms;
    transition: all 10ms; }
    .element-full .box-element .box-bottom h3 {
      font-size: 30px; }

/*start news*/
#news {
  padding-top: 100px; }
  #news .inner {
    background: #efe8e4 none repeat scroll 0 0;
    border-radius: 20px 20px 0 0;
    /*padding-top: 180px;*/
    position: relative; }
    #news .inner .bg-news {
      background: rgba(0, 0, 0, 0) url("../images/bg-news.png") no-repeat scroll center -10px;
      background-size: contain;
      color: #d4d2d0;
      display: block;
      font-family: "AbrilFatface";
      font-size: 286px;
      height: 212px;
      line-height: 0;
      text-align: center;
      text-indent: -10000px; }
    #news .inner .justify-content-center {
      margin-top: -75px; }
    #news .inner .box-news {
      padding: 30px 20px 0;
      background: #E8DBD3; }
      #news .inner .box-news p {
        margin-bottom: 30px; }
    #news .inner h3.ftabril {
      /*font-size: 24px;*/
      margin-bottom: 10px; }
    #news .inner .box-link a {
      background: #7a634e none repeat scroll 0 0;
      color: #F0E9E3;
      display: inline-block;
      font-size: 20px;
      max-width: 80px;
      /* padding: 20px; */
      font-family: "AbrilFatface";
      padding-top: 10px;
      padding-bottom: 10px; }
    #news .inner .owl-prev,
    #news .inner .owl-next {
      position: absolute;
      top: 37.5%;
      width: 70px; }
    #news .inner .owl-prev {
      background: rgba(0, 0, 0, 0) url("../images/arrow-left.png") no-repeat scroll center center;
      left: -100px; }
    #news .inner .owl-next {
      background: rgba(0, 0, 0, 0) url("../images/arrow-right.png") no-repeat scroll center center;
      right: -100px; }
    #news .inner .owl-dots {
      display: none; }
    #news .inner .box-news-bt {
      padding: 20px 0 30px; }
      #news .inner .box-news-bt h1 {
        color: #281E14; }
      #news .inner .box-news-bt a {
        padding-top: 10px;
        display: inline-block; }

/*social-content*/
.social-content {
  background: rgba(0, 0, 0, 0) url("../images/bg1.png") repeat scroll 0 0;
  margin-top: 11%;
  margin-bottom: 80px; }
  .social-content .bg-social {
    background: rgba(0, 0, 0, 0) url("../images/bg-social.png") no-repeat scroll 0 0;
    background-size: contain;
    color: #d4d2d0;
    display: block;
    font-family: "AbrilFatface";
    font-size: 286px;
    height: 212px;
    line-height: 0;
    text-align: center;
    text-indent: -10000px; }
  .social-content .inner {
    margin-top: -70px; }
    .social-content .inner .col-md-6 {
      margin-top: 25px; }
      .social-content .inner .col-md-6 .box-social {
        background: #efe8e4;
        padding: 10px 50px 15px; }
        .social-content .inner .col-md-6 .box-social h5 {
          font-family: "AbrilFatface";
          font-size: 18px;
          color: #5e554b; }
          .social-content .inner .col-md-6 .box-social h5 a {
            font-family: "AbrilFatface";
            font-size: 18px;
            color: #2E241A; }
            .social-content .inner .col-md-6 .box-social h5 a img {
              padding-right: 10px; }
        .social-content .inner .col-md-6 .box-social p {
          color: #716A64; }
      .social-content .inner .col-md-6 .box-social-ft {
        background: #2e2418;
        font-size: 18px;
        color: #fff;
        padding: 10px 30px; }
        .social-content .inner .col-md-6 .box-social-ft .box-date {
          padding: 0 10px;
          vertical-align: middle;
          color: #BBB2A9; }

.scale {
  transform: scale(0.77);
  -webkit-transform: scale(0.77);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0; }

/*footer*/
footer {
  background: #281f13;
  padding: 50px 0 200px;
  color: #ada399; }
  footer .logo {
    overflow: hidden;
    position: relative; }
    footer .logo:after {
      background: #fff;
      content: "";
      height: 2px;
      left: 235px;
      position: absolute;
      top: 0;
      width: 100%; }
  footer a {
    color: #BAB0A7; }
  footer h4 {
    color: #DED4CB; }
  footer .box-footer {
    padding-top: 20px; }
    footer .box-footer .col-md-6 {
      margin-bottom: 30px; }
    footer .box-footer .col-md-3 {
      margin-bottom: 30px; }
    footer .box-footer .nav-link {
      padding: 2px 0; }
    footer .box-footer .form-subscribe {
      padding-bottom: 10px;
      padding-top: 30px; }
      footer .box-footer .form-subscribe input {
        background: none;
        border: none;
        border-bottom: 1px solid #ddd3ca;
        color: #B8AEA5;
        font-size: 16px;
        margin-right: 15px;
        margin-top: 10px;
        vertical-align: top;
        width: 65%; }
      footer .box-footer .form-subscribe button {
        background: #7A644F;
        border: medium none;
        color: #fff;
        font-family: "AbrilFatface";
        font-size: 20px;
        padding: 20px 15px; }
    footer .box-footer .box-social {
      border-bottom: 1px solid #ddd3ca;
      padding-bottom: 10px;
      padding-top: 30px; }
      footer .box-footer .box-social a {
        display: inline-block;
        width: 22%; }
        footer .box-footer .box-social a i {
          font-size: 20px;
          color: #DED4CB; }
        footer .box-footer .box-social a:last-child {
          text-align: right;
          width: auto; }
    footer .box-footer .col-md-6.col-lg-2.text-right img {
      padding-top: 65px; }

@media (min-width: 768px) {
  .element-full .box-element .box-hover {
    /*padding: 10px 0;*/ }
    .element-full .box-element .box-hover h3 {
      font-size: 32px; }
    .element-full .box-element .box-hover .abox {
      padding: 10px 15px 10px 10px; }
    .element-full .box-element .box-hover .box-hover-ct {
      padding: 10px 0 10px; } }
@media (min-width: 992px) {
  .element-full .box-element .box-hover {
    /*padding: 10px 0;*/ }
    .element-full .box-element .box-hover .abox {
      max-width: 100%; }
    .element-full .box-element .box-hover .box-hover-ct {
      padding: 10px 0 10px; } }
@media (min-width: 1200px) {
  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .element-full .box-element .box-hover {
    /*padding: 10px 0;*/ }
    .element-full .box-element .box-hover .abox {
      max-width: 100%; }
    .element-full .box-element .box-hover .box-hover-ct {
      padding: 15px 0 25px; } }
@media (min-width: 1400px) {
  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .element-full .box-element .box-hover {
    padding: 14% 0; }
    .element-full .box-element .box-hover .abox {
      max-width: 85px; } }
@media (min-width: 1500px) {
  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%; }

  .element-full .box-element .box-hover {
    /*padding: 10% 0;*/ } }
@media (min-width: 1550px) {
  .element-full .box-element .box-hover {
    /*padding: 10% 0;*/ } }
@media (max-width: 1200px) {
  .hidden-md {
    display: block;
    width: 100%; } }
@media (max-width: 992px) {
  .hidden-md {
    display: block;
    width: 100%; }

  .carousel-caption h3 {
    font-size: 48px; } }
@media (max-width: 768px) {
  .hidden-md {
    display: block;
    width: 100%; }

  .hidden-sm {
    display: block;
    width: 100%; }

  .carousel-caption {
    left: 0;
    bottom: -70px;
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; }
    .carousel-caption h3 {
      font-size: 48px; }
    .carousel-caption .abox {
      max-width: 100%; }

  #about .ftabril {
    font-size: 56px;
    text-align: center; }

  .box-footer .col-md-6.col-lg-2.text-right {
    text-align: left !important; } }
@media (max-width: 576px) {
  .hidden-sm {
    display: block;
    width: 100%; }

  .abox {
    max-width: 100%; }

  #about .ftabril {
    text-align: center;
    font-size: 48px; }

  /*start news*/
  #news .inner .owl-prev {
    left: 0; }
  #news .inner .owl-next {
    right: 0; }

  .element-full .box-element .box-hover {
    top: 0; } }
@media (max-width: 420px) {
  #about .ftabril {
    font-size: 36px; }

  .social-content .inner .col-md-6 .box-social {
    padding: 10px 15px 15px; }

  .element-full .box-element .box-hover {
    padding: 10px 0; }
    .element-full .box-element .box-hover .abox {
      max-width: 100%; }
    .element-full .box-element .box-hover .box-hover-ct {
      padding: 10px 0 10px; } }
/******************************************/

/*# sourceMappingURL=style.css.map */
